/* RESET CSS*/
* {
    margin: 0;
    padding: 0;
} 

*,
:after,
:before {
    box-sizing: border-box;
    --bs-gutter-x: 0rem;
}
/*content*/

h2 {
    font-family: uniwars, sans-serif;
    font-style: semibold;
          font-weight: 300;
}

.nav-item a {
    text-decoration: none;
    background-color: transparent;
    outline: none;
}

.nav-item a:hover {
    text-decoration: none;
    background-color: transparent;
    outline: none;
}


.logo {
    transition: filter 0.5s;
}
.logo:hover {
filter: brightness(60%); 
}
header, footer {
    background-color: black;
}
#btnreserv {
    background-color: black;
    color: white;
    border: 2px solid black;
}

#btnreserv:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}


#fondpartenaire {
    width : 100%;
    height: 275px;
}

.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(10px)
}

.video_conteneur {
    object-fit: cover; 
}

.logo_content {
    width : 300px; 
    margin : 25px
}

.partenaires{
    width : 150px;
    margin: 10px;
}

.artistes {
    width: 200px;
    margin: 20px;
    align-items: center;
    border-radius: 5%;
}

.billeterie {
    margin: 150px 500px;
}
.billeterie-box {
    border-radius: 5%;
}

/*buttons*/

.reservation-button {
    width: 700px;
    
}

.flou {
    filter: blur(15px)
}
blockquote {
    width: 10%;
}


